mixin prod(sl,t,p )
	+b.prod-item&attributes(attributes)
			a.prod-item__img-wrap(href='http://pumpe-ersatzteile.de/pumpenbauart/umwaelzpumpen/ups-serie-200-unger.-nasslaeufer-umwaelzpumpen/ups-b/5276/ups-32-120-f-b', title='UPS 32-120 F B')
				img.s-product__img-prod(src='http://pumpe-ersatzteile.de/media/image/0c/cb/55/product-productnumber-96401844MoRmcfSJKUdUQ.jpg', alt='', itemprop='image', role='presentation')
			.prod-item__caption
				.prod-item__title.other-prod__art
					a.product--title(href='http://pumpe-ersatzteile.de/pumpenbauart/umwaelzpumpen/ups-serie-200-unger.-nasslaeufer-umwaelzpumpen/ups-b/5276/ups-32-120-f-b', title='UPS 32-120 F B')
						if !t
							|   UPS 32-120 F B 
						else
							= t
				.prod-art.text-gray2 Art.-Nr. 96401844 
				.row
					.prod-item__price.col-sm-auto.other-prod-price  2.693,23 € 
					.prod-item__col-auto.col-sm-auto.text-gray2  inkl. 19% MwSt 
				//- label.custom-input
				//- 	input.custom-input__input(type='checkbox', name='checkbox')
				//- 	span.custom-input__lab
				//- 	span.custom-input__text Produkt vergleichen 
				.row
					if p
						.prod-descr.prod-item__col-auto.col-sm-12.text-gray2= p
					else
						.prod-descr.prod-item__col-auto.col-sm-12.text-gray2  Umwälzpumpe mit 1-phasigem Naßläufermotor als... 
					
			.prod-item__foot
				a.prod-item__btn.prod-item__btn--more(href='http://pumpe-ersatzteile.de/pumpenbauart/umwaelzpumpen/ups-serie-200-unger.-nasslaeufer-umwaelzpumpen/ups-b/5276/ups-32-120-f-b', title='UPS 32-120 F B')  Details ansehen
				form.buybox--form.other-prod__sel-wrap.d-flex(name='sAddToBasketSW96401844', method='post', action='http://pumpe-ersatzteile.de/checkout/addArticle', data-add-article='true', data-eventname='submit', data-showmodal='false', data-addarticleurl='http://pumpe-ersatzteile.de/checkout/ajaxAddArticleCart')
					input(type='hidden', name='sAdd', value='SW96401844')
					input#sQuantity(type='hidden', name='sQuantity', value='1')
					button.prod-item__btn.prod-item__btn--add(type='submit', aria-label='In den Warenkorb')
						picture.lazy
							source(srcset='#', data-srcset='/themes/Frontend/Sub/frontend/_public/src/img/@2x/webp/basket--white.webp', type='image/webp')
							img(src='#', data-src='/themes/Frontend/Sub/frontend/_public/src/img/@2x/basket--white.png', alt='')
					input(type='hidden', name='__csrf_token', value='shmHR5j7PGc0WcpmWlbSLPZhiSx7Q7')



mixin prod-2(sl)
	+b.prod-item&attributes(attributes)
		+e.img-wrap(href="#")
			if sl
				img.res-i(src="#" data-lazy="img/@2x/prod.jpg", alt="")
			else
				+pic("prod-2",'','lazy',0)
		+e.caption
			+e.title
				a(href="#") Lorem ipsum dolor
			.row
				+e.price.col-sm-auto 1,99 €
				+e.col-auto.col-sm-auto.text-gray2 inkl. 19% MwSt
			+in-c
				+e.SPAN.text Produkt vergleichen 
			+stars()
		+e.foot
			+e.btn--more(href="#") Details ansehen
			+e.btn--add(href="#")
				+pic("basket--white.png",'','lazy',0)
				//- img.res-i(src="img/@2x/", alt="")


mixin s-catalog()
	// start s-catalog
	+b.s-catalog--slider.section.pb-0&attributes(attributes)
		+e.slider-wrap.container
			.section-title
				h2  BEST SELLER
			+e.slider--js
				- for (var x = 0; x < 8; x++)
					+prod('sl')
	// end s-catalog

mixin s-catalog-block
	// start s-catalog
	+b.s-catalog.section&attributes(attributes) 
		block
		.row
			 
			+prod('','dasdasdsadv adad s sdasd sdasdasd')(class="col-lg-4 col-6")
			+prod('','dasdasdsadv adad s sdasd sdasdasd',' sdasdsadasd sd;ajsd;sajd  w aewaea weaeaweawe waeawewaesadasds jsdasdasdjsad;sajdasdsadj')(class="col-lg-4 col-6")
			+prod()(class="col-lg-4 col-6")
			+prod()(class="col-lg-4 col-6")
		+e.btn--more(href="#") Mehr 
	// end s-catalog

mixin s-catalog-builder
	// start s-catalog
	+b.s-catalog.section&attributes(attributes) 
		block
		.row
			- for (var x = 0; x < 8; x++)
				+prod()(class="col-lg-3 col-6")
		+e.btn--more(href="#") Mehr 
	// end s-catalog

