mixin footer()
	mixin mnu(t,...items)
		+e.in-col--list
			+e.col-title--sm= t
			+e.UL.list
				each item in items
					+e.LI.list-item
						+e.A.list-link(href='#')= item
	+b.FOOTER.footer.block-with-lazy.d-none.d-md-block
		.container
			+e.main-row
				+e.main-col
					.row
						.col-lg-6
							+e.col-title Service Hotline
							.pt-0.h2.strong
								a(href="tel:+4974719331970").text-body.strong.tdn +49 7471 - 9331970
							.row
								.col-lg-6.col-md-7
									p Sie haben persöliche Fragen zu einem unserer Produkte ? Rufen Sie uns an,wir beraten SIe gern!
						.col-lg-6
							+e.col-title SPRACHEN
							+e.img-wrapper
								+e.A.de(href="#")
									+e.IMG.img(src='img/@2x/DE.png' alt='')
								+e.A.en(href="#")
									+e.IMG.img(src='img/@2x/en.png' alt='')

				+e.main-col 
					.row
						.col-lg-6
							+e.col-title Bezahlarten
							+e.img-wrapper
								+e.IMG.img(src='img/paypal.png' alt='')
								+e.IMG.img(src='img/visa.png' alt='')
								+e.IMG.img(src='img/maes.png' alt='')
								+e.IMG.img(src='img/vor.png' alt='')
								+e.IMG.img(src='img/sof.png' alt='')
						.col-lg-6
							+e.col-title Versand
							+e.img-wrapper
								//- +e.IMG.img(src='img/dpd.png' alt='')
								+e.IMG.img(src='img/dhl.png' alt='')
								+e.IMG.img(src='img/@2x/Ebene_2267.png' alt='')

				+e.main-col--line
					+e.in-row--bottom 
						+e.in-col--add
							+e.col-title--sm Kontakt
							+e.add 
								+e.text E-Mail Support:
								+e.A.add-link(href='mailto:info@grundfos-pumpen.de') info@grundfos-pumpen.de
							+e.add 
								+e.text Öffnungszeiten:
								+e.add-work-time
									span MO–SA
									span 08:00–22:00  Uhr
							+e.text.smallest Anrufe aus dem dt.Festnetz zum Ortstarif, Presse aus dem Mobilfunknetz ggf.  abweichend  (abhängig vom Provider).
						
						+mnu("Hilfe","Häufige Fragen","Bestellung","Versand & Lieferung","Rückgabe & Umtausch")
				+e.main-col--line
					+e.in-row
						+mnu("Service","Reparatur","Newsletter")
						+mnu("Über Pumpe-Ersatzteile","Das Unternehmen","Impressum","Datenschutz","AGBs & Wiederrufsrecht","Karriere")
				+e.main-col--line
					+e.in-row
						+mnu("TOP Ersatzteil","Dichtungen ","Schrauben","Gehäuse ","Motoren")
						+mnu("Top Pumpenbauarten","ALPHA ","MAGNA 3")
				
				+e.main-col--line
					+e.in-row
						+mnu("Anwendungen","Heizungen","Solar","Abwasser")
						+mnu("Lorum ipsum","Lorum Ipsum","Lorum Ipsum","Lorum Ipsum")
 
			//- .text-center.py-2 © 2020 Pumpe-Ersatzteile
						
							


	

	+b.bottom-line
		.container
			+e.logo(href="#")
				img.res-i(src="img/@2x/logo.png", alt="")
			+e.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
								
								
