
mixin modal() 
  
	.d-none
		div(id="reg" class="  modal-win modal-form" )
			.container
				.row
					.col-modal.col-lg-6
						+form-wrap()
							.text-center
								.modal-title ANMELDEN 
							+input("E-Mail Adresse",'email')(required) 
							+input("Passwort","password")(required)
							//- +input("email","Ваше email")(required)
							//- +text( "Комментарий")
							.pt-2.pb-3.pl-3
								a.text-gray2(href="#") Passwort vergessen?
							+e.btn.btn-modal(type="submit" ) anmelden
					.col-modal.col-lg-6.d-flex.flex-column.order-lg-first
						.modal-title Neuer kunde?
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
						+e.btn.btn-modal(href="#") anmelden
							 
		// #reg
	// modal