.aboutus {
	img {
		max-width: 100%;
	}
	h3{
		font-size: rem(22);
		text-transform: uppercase;
	}
	h2 {
		color: $body-color;
		// font-size: $h1-font-size;
		@extend h1;
		font-weight: 700;
		text-transform: uppercase;
	}
	p {
		font-size: rem(18);
		color: $body-color;
		font-weight: 400;
		line-height: 1.35;
	}
	.narrow-container {
		max-width: rem(930);
		margin: 0 auto;
	}
	.wer-wir-sind {
		margin-bottom: rem(33);
		margin-top: rem(67);
		h3 {
			margin-bottom: rem(31);
		}

	}
	.pump-spare-parts {
		margin-bottom: rem(3.6);
		h2{
			margin-top: rem(52);
			margin-bottom: rem(26);
		}
		p {
			line-height: 1.35;
		}
	}
	.corporate-culture {
		h2{
			margin-top: rem(-9);
			margin-bottom: rem(21);
		}
	}
	.img-who-we {
		.uber-img{
			&:nth-child(2){
			display: none;
		}
		}
	}
	.our-promise {
		margin-top: rem(22);
		margin-bottom: rem(60);
		.Unser {
			// margin-left: rem(3);
			h2 {
				margin-top: rem(14);
				margin-bottom: rem(24);
			}
			p {
				max-width: rem(462);
				// overflow: auto;
				// max-height: rem(208);
			}
		}
	}
	







	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {
		.section-title {
			padding-bottom: 0;
		}
		.zerro-padding {
			padding-left: 0;
			padding-right: 0;
		}
		p{
			font-size: rem(14);
		}
		.mobile-none {
			display: none;
		}
		.wer-wir-sind {
			margin-top: rem(0);
			margin-bottom: rem(21);
			h2 {
				margin-bottom: rem(7);
			}
			h3 {
				margin-bottom: rem(9);
			}
		}
		.uber-img {
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
		.Unser-img {
			order: 2;
		}
		.pump-spare-parts {
			h2 {
				margin-top: rem(30);
				margin-bottom: rem(18);
			}
			p {
				margin-bottom: rem(0);
			}
		}
		.Unser {
			order: 1;
			p {
				max-width: 100%;
				padding-right: 0;
				margin-right: 0;
				margin-top: 0;
			}
			h2 {
				margin-top: 0;
				padding-top: 0;
			}
		}

	}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}