.s-icons-block {
	padding-top: rem(10);

	&__text {
		font-size: rem(14);
		color: #000;
		font-weight: bold;
	}
	&__col {
		@include media-breakpoint-up(sm) {
			padding: rem(30) 20px rem(10);
		}
		padding: rem(20) 15px rem(0);
		display: flex;
		color: $secondary;
		@include media-breakpoint-up(sm) {
			font-size: 20px;
		}
		font-size: 10px;
		// @include rfs(rem(20));
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: rem(10);
		picture {
			flex-shrink: 0;
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(17);
			justify-content: center;

			&:not(:last-child) {
				border-right: 1px solid #c2c2c2;
			}
		}
		picture {
			@include media-breakpoint-up(sm) {
				margin-right: rem(32);
			}
			margin-right: rem(12);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
}
