mixin s-catalog-head()
	// start s-catalog-head
	+b.SECTION.s-catalog-head.section#s-catalog-head&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-catalog-head
				
			.row
	// end s-catalog-head