.s-catalog-head {
		 padding-top: rem(40);
		 padding-bottom: rem(28);
	&__btn-wrap{
		@include media-breakpoint-up(md) {

			display: flex;
		}
		display: none;
		margin-right: -2px;
		margin-left: -2px;
	}
	&__btn{
		@extend .btn;
		border: 1px solid #e7e7e7;
		background-color: $light;
		text-align: center;
		display: block;
		width: calc(100% / 3 - 4px);
		font-weight: bold;
		margin-left: 2px;
		margin-right: 2px;
		// @extend h2;
		&:hover,
		&.active{
			color: #ffffff;
			background-color: $primary;
			border-color: $primary;
		}
	}
	&__input{
		background-color: $primary !important;
		color: #ffffff !important;
		text-transform: uppercase;
		@extend .h2;
		font-weight: bold;
	}
	@include media-breakpoint-up(xxl) {
		.container{

			max-width: (1180px + 20px);
		}
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}

.s-catalog-head--builder{
	padding-bottom: 0;
	@include media-breakpoint-up(md){
		border-bottom: 1px solid #333333;
	}
	.s-catalog-head{
		&__input{
			margin-bottom: 0;
			height: 100%;
		}
	}
}