mixin s-catalog-head()
	// start s-catalog-head
	+b.s-catalog-head.section#s-catalog-head&attributes(attributes)
		.container
			+e.btn-wrap
				+e.btn.active(type="button") Ersatzteile
				+e.btn(type="button") Pumpen
				+e.btn(type="button") zubehör
			.d-md-none
				+e.input-wrap
					+e.SELECT.input.form-control

							option()  Ersatzteile
							option() Pumpen
							option() zubehör
						 
	// end s-catalog-head


mixin s-catalog-head-builder()
	// start s-catalog-head
	+b.s-catalog-head--builder.section#s-catalog-head&attributes(attributes)
		.container
			+e.btn-wrap
				+e.btn.active(type="button") NEUKAUF
				+e.btn(type="button") Ersatzteile
			.d-md-none
				+e.input-wrap
					+e.SELECT.input.form-control

							option()  NEUKAUF
							option() Ersatzteile
						 
	// end s-catalog-head

