mixin s-page-title()
	// start s-page-title
	+b.SECTION.s-page-title.section#s-page-title&attributes(attributes)
		.container
			+e.art Registrieren
			+e.H1.title Registrierung
			+e.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			
	// end s-page-title