mixin s-uber-banner()
	// start s-uber-banner
	+b.SECTION.s-uber-banner.section#s-uber-banner&attributes(attributes)
		+e.slider--js
			.slider-item
				+e.IMG.uber-banner(src='img/@2x/s-uber-banner.png' alt='indefinite')
			.slider-item
				+e.IMG.uber-banner(src='img/@2x/s-uber-banner.png' alt='indefinite')
			.slider-item
				+e.IMG.uber-banner(src='img/@2x/s-uber-banner.png' alt='indefinite')
	// end s-uber-banner