.s-basket {
	@include media-breakpoint-up(md){
		padding-bottom: rem(50);
	}
	padding-bottom: rem(25);
	&__table{
		position: relative;
		width: 100%;
		th{
			font-size: $h2-font-size;
			font-weight: 700;
			@include media-breakpoint-down(md){
				display: none;
			}
			text-transform: uppercase;
			&:last-child{
				text-align: right;
			}
			&:nth-child(2){
				padding-left: rem(20);
			}
			// &:nth-child(3){
			// 	@include media-breakpoint-down(md){
			// 		display: none;
			// 	}
			// }
			// &:nth-child(4){
			// 	@include media-breakpoint-down(md){
			// 		display: none;
			// 	}
			// }
			// &:nth-child(5){
			// 	@include media-breakpoint-down(md){
			// 		display: none;
			// 	}
			// }
		}
		td{
			padding: rem(20) 0;
			&:last-of-type{
				text-align: right;
			}
			&:first-of-type{
				vertical-align: top;
				@include media-breakpoint-up(md){
					width: rem(100);
				}
				width: rem(60);
			}
			&:nth-child(2){
				padding-left: rem(20);
			}
			&:nth-child(3){
				@include media-breakpoint-down(md){
					display: none;
				}
			}
			&:nth-child(4){
				@include media-breakpoint-down(md){
					display: none;
				}
			}
			&:nth-child(5){
				@include media-breakpoint-down(md){
					display: none;
				}
			}
		}
		thead{
			tr{
				position: relative;
				&::after{
					@include media-breakpoint-up(lg){
						content: '';
						width: 3000px;
						height: 1px;
						background-color: #333333;
						@include a-cent(x);
						top: rem(35);
					}
				}
			}
		}
		tbody{
			tr{
				@include media-breakpoint-down(md){
					border-bottom: 1px solid #333333;
				}
			}
		}
	}
	&__art{
		@include media-breakpoint-down(xs){
			font-size: rem(12);
		}
	}
	&__link{
		@include media-breakpoint-down(xs){
			font-size: rem(12);
		}
	}
	&__img-wrap{
		@include media-breakpoint-up(md){
			width: rem(100);
			height: rem(100);
		}
		width: rem(60);
		height: rem(60);
		position: relative;
		picture{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		img{
			@include a-cent;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__title{
		max-width: rem(115);
		@include media-breakpoint-up(sm){
			max-width: unset;
			font-size: $h2-font-size;
		}
		margin-bottom: rem(5);
		text-transform: uppercase;
		font-weight: 700;
	}
	&__link{
		color: $secondary;
	}
	&__price{
		font-size: $h2-font-size;
		text-transform: uppercase;
	}
	&__count-wrap{
		display: flex;
		align-items: center;
	}
	&__select{
		@include media-breakpoint-up(lg){
			margin-right: rem(10);
		}
		max-width: rem(90);
	}
	&__final-price{
		font-size: $h2-font-size;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__bottom-btn-wrap{
		padding: rem(10) 0;
		@include media-breakpoint-up(lg){
			display: flex;
			justify-content: space-between;
		}
	}
	&__white-btn-wrap{
		margin-bottom: rem(10);
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
	}
	&__btn{
		@include media-breakpoint-up(md){
			padding-left: rem(25);
			padding-right: rem(25);
		}
		@include media-breakpoint-down(sm){
			width: 100%;
		}
		@extend .btn;
		@extend .btn-primary;
		&--white{
			background-color: #fff;
			color: $primary;
			border-color: $primary;
			&:not(:last-child){
				@include media-breakpoint-up(md){
					margin-bottom: 0;
					margin-right: rem(10);
				}
				margin-bottom: rem(10);
				margin-right: 0;
			}
		}
	}
	&__mobile-wrap{
		@include media-breakpoint-down(md){
			display: flex;
			justify-content: space-between;
		}
	}
	&__mobile-delete{
		padding-top: rem(10);
		@include media-breakpoint-up(lg){
			display: none;
		}
	}
	&__m-block{
		@include media-breakpoint-up(lg){
			display: none;
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:first-of-type){
			margin-top: rem(10);
		}
		&:last-of-type{
			margin-top: rem(25);
		}
	}
	&__m-title{
		@include media-breakpoint-up(sm){
			font-size: rem(16);
		}
		font-size: rem(12);
		font-weight: 700;
		text-transform: uppercase;
	}
	&__m-price{
		@include media-breakpoint-up(sm){
			font-size: rem(16);
		}
	}
	
	&__m-sum{
		@include media-breakpoint-up(sm){
			font-size: rem(16);
		}
		font-weight: 700;
		text-transform: uppercase;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}

.basket-total{
	@include media-breakpoint-up(sm){
		padding: rem(50) 0 rem(30);
	}
	padding: rem(20) 0 rem(20);
	&__col-title{
		text-transform: uppercase;
		font-weight: 700;
		@include media-breakpoint-up(sm){
			font-size: $h2-font-size;
		}
		padding-bottom: rem(5);
		margin-bottom: rem(10);
		@include media-breakpoint-up(md){
			margin-bottom: rem(30);
		}
		@include media-breakpoint-down(sm){
			text-align: center;
		}
		&--right{
			text-align: right !important;
			position: relative;
			@include media-breakpoint-up(md){
				padding-right: rem(10);
			}
			margin-bottom: rem(25);
			&::after{
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 1px;
				background-color: #333333;
			}
		}
	}
	.row{
		@include media-breakpoint-up(lg){
			@include roww(60);
		}
	}
	.form-wrap{
		margin-bottom: rem(20);
		form{
			display: flex;
			align-items: center;
		}
		&__input-wrap{
			@include media-breakpoint-up(sm){
				margin-right: rem(10);
			}
			margin-bottom: 0;
			@include media-breakpoint-up(sm){
				flex: 0 0 70%;
			}
			flex: 0 0 60%;
			::placeholder{
				text-transform: uppercase;
			}
		}
		&__btn{
			@include media-breakpoint-up(sm){
				flex: 0 0 30%;
			}
			flex: 0 0 40%;
			padding-top: rem(6);
			padding-bottom: rem(6);
			@extend .btn;
			@extend .btn-primary;
			&--white{
				background-color: #fff;
				color: $primary;
				border-color: $primary;
			}
		}
	}
	background-color: $light;
	&__total-wrap{
		@include media-breakpoint-up(md){
			padding-right: rem(10);
		}
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(5);
		align-items: center;
		&--line{
			margin-bottom: rem(12);
			padding-bottom: rem(12);
			position: relative;
			&::after{
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 1px;
				background-color: #333333;

			}
		}
	}
	&__text{
		&--sm{
			font-size: rem(12);
		}
		&--large{
			font-size: rem(24);
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	&__price{
		font-size: $h2-font-size;
		font-weight: 700;
		text-transform: uppercase;
		&--large{
			font-size: rem(24);
		}
		&--sm{
			font-size: rem(12);
		}
	}
}

.s-basket-final{
	.custom-input__text{
		a{
			color: $body-color;
			font-weight: 700;
		}
	}
	.custom-input__lab{
		width: rem(20);
		height: rem(20);
	}
	padding-top: 0;
	.s-basket{
		&__check-block{
			padding-top: rem(30);
			border-top: 1px solid #333333;
			margin-bottom: rem(90);
		}
		&__bottom-btn-wrap{
			justify-content: flex-end;
			@include media-breakpoint-up(md){
				display: flex;
			}
			@include media-breakpoint-down(sm){
				text-align: center;
			}
		}
		&__btn{
			margin-bottom: rem(10);
			&--white{
				@include media-breakpoint-up(md){
					margin-right: rem(10);
				}
				@include media-breakpoint-down(sm){
					max-width: rem(130);
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		&__count-wrap{
			text-align: center;
			display: block;
		}
		&__table{
			th{
				&:nth-child(4){
					text-align: center;
				}
			}
		}
	}
}