mixin descr-i(t,d)
	+e.LI.list-item
		+e.list-row.row
			.col-sm-6.col-5
				+e.item-title=t
			.col
				+e.item-descr=d
mixin s-prod-descr()
	// start s-prod-descr
	+b.SECTION.s-prod-descr.section#s-prod-descr&attributes(attributes)
		.container
			+e.btn-wrap
				+e.btn-top(type="button") Beschreibung
				+e.btn-top(type="button") Technische Daten
				+e.btn-top.active(type="button") Technische Zeichnung
				+e.btn-top(type="button") DOKUMENTE
			+e.main-row.row
				+e.main-col.col-lg-6
					+e.H2.col-title Beschreibung
					+e.descr-title 
						span Lorem ipsum dolor sit amet,
						| <br>eiusmod tempor incididunt ut labore et dolore magna aliqua.
					+e.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
					+e.text.text-hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					+e.btn--js.d-md-none Mehr
				+e.main-col.col-lg-6
					+e.H2.col-title AUSSTATTUNG
					+e.UL.list
						+descr-i('Umgebungstemperatur: ','0 .. 40 °C')
						+descr-i('Max. Betriebsdruck:','10 bar')
						+descr-i('Nennweite:','G 1 1/2')
						+descr-i('Nenndruck (bar):','PN 10')
						+descr-i('Einbaulänge:','180 mm ') 
				+e.main-col.col-lg-6
					+e.col-wrapper
						+e.H2.col-title Fördermedium:
						+e.UL.list--dark
							+descr-i('Fördermedium ','Wasser')
							+descr-i('Medientemperaturbereich:','2 .. 110 °C')
							+descr-i('Medientemperatur:','60 °C')
							+descr-i('Dichte','983.2 kg/mg')
					
					+e.col-wrapper
						+e.H2.col-title  Werkstoffe:
						+e.UL.list--dark
							+descr-i('Pumpengehäuse:','Grauguß ')
							+descr-i('Pumpengehäuse:','EN-GJL-150 ')
							+descr-i('Pumpengehäuse: ','ASTM A48-150B ')
							+descr-i('Laufrad:','PES mit 30 %  Glasfaserantei ') 
					+e.col-wrapper
						+e.H2.col-title  Sonstiges:
						+e.UL.list--dark
							+descr-i('	Energie (EEI): ','Automatische Nachtabsenkung integriert')
							+descr-i('Nettogewicht: ','max. 8 m')
							+descr-i('Bruttogewicht: ','max. 10 Bar')
							+descr-i('Versandvolumen: ','20°C')
							+descr-i('Verkaufsregion: ','10')
						




					
					
					
				+e.main-col.col-lg-6
					+e.col-wrapper
						+e.H2.col-title TECHNISCHE DATEN
						+e.UL.list--dark
							+descr-i("Maximale Förderhöhe: ","40 dm") 
							+descr-i("Temperaturklasse: ","110") 
							+descr-i("Prüfkennzeichen auf dem  Typenschild:","CE, VDE") 
							+descr-i("Modell:","E")  
							
					+e.col-wrapper
						+e.H2.col-title Elektrische Daten: 
						+e.UL.list--dark
							+descr-i("Leistungsaufnahme P1: ","3 .. 18 W") 
							+descr-i("Netzfrequenz:","50 Hz") 
							+descr-i("Nennspannung:","1 x 230 V") 
							+descr-i("Maximale Stromaufnahme:","0.04 .. 0.18 A")   
							+descr-i("Schutzart (IEC 34-5):","X4D") 
							+descr-i("Isolationsklasse (IEC 85):","F") 
							+descr-i("Motorschutz:","keine") 
							+descr-i("Temperaturschutz:","ELEC")  

					+e.col-wrapper
						+e.H2.col-title Art der Steuerung::
						+e.UL.list--dark
							+descr-i("Automatische Nachtabsenkung:","Automatische Nachtabsenkung integriert") 
							+descr-i("Position Klemmenkasten: ","6H")  

			
	// end s-prod-descr