.s-prod-descr {
	@include media-breakpoint-down(sm){
		padding-top: 0;
	}
	padding-bottom: 0;
	&__btn-wrap{
		display: none;
		@include media-breakpoint-up(md){
			display: block;
		}
		position: relative;
		&::after{
			content: '';
			@include a-cent(x);
			bottom: 0;
			width: 100vw;
			height: 1px;
			background-color: #333333;
		}
	}
	&__btn-top{
		@extend .btn;
		color: #b9b9b9;
		border: 1px solid #e7e7e7;
		background-color: $light;
		text-align: center;
		width: rem(189);
		font-weight: bold;
		margin-right: rem(5);
		&:hover,
		&.active{
			color: #ffffff;
			background-color: $primary;
			border-color: $primary;
		}
	}
	&__btn{
		@extend .btn;
		border: 2px solid $primary;
		color: $primary;
		width: rem(188);
		display: block;
		margin: 0 auto;
		cursor: pointer;
		&:hover{
			color: #ffffff;
			background-color: $primary;
			border-color: $primary;
		}
	}
	&__main-row{
		@include roww(20);
	}
	&__list-row{
		@include media-breakpoint-down(md){
			@include roww(5);
		}
	}
	&__col-title{
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg){
			padding-left: rem(20);
			margin-bottom: rem(30);
		}
		font-weight: 700;
		text-transform: uppercase;
	}
	&__descr-title{
		font-size: rem(16);
		@include media-breakpoint-up(lg){
			font-size: $h2-font-size;
		}
		font-weight: 700;
		line-height: rem(24);
		margin-bottom: rem(30);
		span{
			text-transform: uppercase;
		}
		margin-bottom: rem(20);
	}
	&__text{
		line-height: rem(24);
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg){
			font-size: $h2-font-size;
		}
		&.text-hidden{
			@include media-breakpoint-up(md){
				display: block !important;
			}
			@include media-breakpoint-down(sm){
				display: none;
			}
		}
	}
	&__main-col{
		padding-top: rem(35);
		padding-bottom: rem(35);
		&::after{
			content: '';
			width: rem(2000);
			height: 1px;
			background-color: #333333;
			@include a-cent(x);
			bottom: 0;
		}
	}
	&__col-wrapper{
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__list{
		@include media-breakpoint-down(md){
			margin-bottom: 0;
		}
		margin-top: auto;
		list-style: none;
		&--dark{
			.s-prod-descr__list-item{
				background-color: $light;
				&:not(:last-child){
					border-bottom: 2px solid #ffffff;
				}
			}
		}
	}
	&__list-item{
		padding: rem(12) rem(5);
		@include media-breakpoint-up(lg){
			padding: rem(25) rem(20);
		}
		&:not(:last-child){
			border-bottom: 1px solid #333333;
		}
	}
	&__item-title{
		@include media-breakpoint-up(lg){
			font-size: $h2-font-size;
		}
	}
	&__item-descr{
		padding-left: rem(5);
		@include media-breakpoint-up(lg){
			padding-left: 0;
			font-size: $h2-font-size;
		}
		font-weight: 700;
		text-transform: uppercase;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}