mixin s-repair-stage()
	// start s-repair-stage
	+b.s-repair-stage.section#s-repair-stage&attributes(attributes)
		.container
			+e.title-desktop
				+e.title Unser Service!
				+e.subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
			+e.title-mobile
				+e.title Beschreibung
				+e.subtitle Lorem ipsum dolor sit amet,
					span eiusmod tempor incididunt ut labore et dolore magna aliqua.
				+e.title-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				+e.btn.btn.btn-primary Mehr
			+e.row.row
				.col-lg-6
					+e.col-title Lorem ipsum dolor sit amet,
						span eiusmod tempor incididunt ut labore et dolore
					+e.col-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				.col-lg-6
					+e.col-img-wrap
						img(src='img/@2x/repair-img.jpg' alt='#')
			+e.row.row
				.col-lg-6.order-lg-last
					+e.col-title Lorem ipsum dolor sit amet,
						span eiusmod tempor incididunt ut labore et dolore
					+e.col-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				.col-lg-6
					+e.col-img-wrap
						img(src='img/@2x/repair-img.jpg' alt='#')
			+e.row.row
				.col-lg-6
					+e.col-title Lorem ipsum dolor sit amet,
						span eiusmod tempor incididunt ut labore et dolore
					+e.col-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				.col-lg-6
					+e.col-img-wrap
						img(src='img/@2x/repair-img.jpg' alt='#')
			+e.row.row
				.col-lg-6.order-lg-last
					+e.col-title Lorem ipsum dolor sit amet,
						span eiusmod tempor incididunt ut labore et dolore
					+e.col-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				.col-lg-6
					+e.col-img-wrap
						img(src='img/@2x/repair-img.jpg' alt='#')
			+e.row.row
				.col-lg-6
					+e.col-title Lorem ipsum dolor sit amet,
						span eiusmod tempor incididunt ut labore et dolore
					+e.col-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
				.col-lg-6
					+e.col-img-wrap
						img(src='img/@2x/repair-img.jpg' alt='#')
	// end s-repair-stage