extends layout/main.pug
block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-page-form/_s-page-form.pug
include ../blocks/s-page-title/_s-page-title.pug
include ../blocks/bottom-line/_bottom-line.pug

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+s-page-title()
	+s-page-form()
	+footer()

