extends layout/main.pug
block variables
	- let  mainPage= null
block title
	- let  title= 'VERSAND UND LIEFERZEIT'
	title= title


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/aside-menu/_aside-menu.pug
include ../blocks/s-catalog-head/_s-catalog-head.pug
include ../blocks/s-icons-block/_s-icons-block.pug
include ../blocks/s-page-title/_s-page-title.pug
include ../blocks/s-jobs/_s-jobs.pug
include ../blocks/s-shiping-time/_s-shiping-time.pug

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+s-page-title("VERSAND UND LIEFERZEIT",  "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet")
		+breadcrumb('Home', 'VERSAND')
	+s-shiping-time
	+footer()

