extends layout/main.pug
block variables
	- let  mainPage= null
block title
	- let  title= 'Main page'
	title= title


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/aside-filter/_aside-filter.pug
include ../blocks/s-catalog-head/_s-catalog-head.pug
include ../blocks/s-icons-block/_s-icons-block.pug
include ../blocks/s-page-title/_s-page-title.pug

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+header-block()
	+s-catalog
	+s-icons-block
	+s-page-title("Home >  Pumpen > Nassläufer-Umwälzpumpe > MAGNA > MAGNA3 D",  "PUMPEN & ERSATZTEILE",  "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet ")
	.container
		+s-catalog-head

		.row
			.col-lg-4
				+aside-filter
			.col-lg-8
				+s-catalog
	+s-form()
	+s-contact()
	+footer()

