.s-order {
	border-top: 1px solid #333333;
	@include media-breakpoint-up(md){
		padding: rem(35) 0 rem(100);
	}
	padding: rem(20) 0 rem(100);
	&__title{
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: rem(50);
		@include media-breakpoint-up(md){
			margin-bottom: rem(90);
		}
	}
	&__item{
		text-align: center;
		margin-bottom: rem(50);
	}
	&__img-wrap{
		margin-bottom: rem(50);
	}
	&__text{
		margin: 0 auto;
		max-width: rem(120);
		@include media-breakpoint-up(sm){
			max-width: rem(255);
			font-size: $h2-font-size;
		}
	}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}