.s-page-form {

	.container{
		@include media-breakpoint-up(lg) {
			max-width: rem(1170);
		}
	}
	.form-wrap{
		&__title{
			display: block;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: rem(5);
			span{
				font-weight: 400;
				text-transform: none;
			}
		}
		&__input-wrap{
			margin-bottom: 0;
		}
		&__top-col{
			padding-left: rem(20);
			padding-right: rem(20);
			margin-bottom: rem(27);
		}
		&__col{
			padding-left: rem(20);
			padding-right: rem(20);
			margin-bottom: rem(13);
		}
		label{
			margin-bottom: 0;
		}
		&__btn{
			margin-top: rem(20);
			max-width: 240px;
		}
		&__select-col{
			margin-bottom: rem(20);
			@include media-breakpoint-up(md){
				margin-bottom: 0;
			}
		}
	}
	&__left-col{
		margin-bottom: rem(60);
		position: relative;
		&::after{
			content: "";
			height: rem(1);
			width: 90%;
			position: absolute;
			bottom: rem(-20);
			@include a-cent(x);
			background-color: #333333;
		}
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
			padding-right: rem(40);
			&::after{
				content: "";
				height: 95%;
				width: rem(1);
				position: absolute;
				@include a-cent(y);
				right: 0;
				left: 100%;
			}
		}
	}
	&__right-col{
		@include media-breakpoint-up(lg){
			padding-left: rem(40);
		}
	}

	&__add{
		font-size: rem(14);
	}
	// .c-select{
	// 	position: relative;
	// 	&::after{
	// 		content: '';
	// 		width: rem(15);
	// 		height: rem(15);
	// 		background-color: #fff;
	// 		position: absolute;
	// 		@include a-cent(y);
	// 		right: rem(10);
	// 		z-index: 2;
	// 	}
	// }

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

.order-form{
	.form-wrap__btn-col{
		text-align: center;
		@include media-breakpoint-up(md){
			text-align: right;
		}
	}
	.form-wrap__btn{
		max-width: rem(130);
		@include media-breakpoint-up(md){
			max-width: rem(150);
		}
		width: 100%;
		&:not(:last-child){
			margin-right: rem(20);
		}
		&--white{
			background-color: #fff;
			color: $primary;
			&:hover{
				background-color: $primary;
				border-color: $primary;
				color: #fff;
			}
		}
	}
}