mixin s-page-form()
	// start s-page-form
	+b.SECTION.s-page-form.section#s-page-form&attributes(attributes)
		.container
			+form-wrap
				.row
					+e.top-col.col-md-4
						+input('E-Mail Adresse','text','E-mail Adresse*','e-mail')
					+e.top-col.col-md-4
						+input('Passwort','text','Passwort*','passwort')
					+e.top-col.col-md-4
						+input('Passwort','text','Passwort wiederholen*','passwort')
					.col-12
						.row
							.s-page-form__left-col.col-12.col-lg-6
								.row
									+e.col.col-sm-6
										+input('Bitte auswählen','text','Anrede *','anrede')
									+e.col.col-sm-6
										label
											+e.SPAN.title Titel
											+e.SELECT.input.c-select
												option(value='-') -
												option(value='0') 2
												option(value='1') 3
									+e.col.col-12
										+input('','text','Vorname *','vorname')
									+e.col.col-12
										+input('','text','Nachname *','nachname')
									+e.col.col-12
										label
											+e.SPAN.title Geburtstag 
												span ( Tag, Monat, Jahr )
											.row
												+e.select-col.col-sm-4
													+e.SELECT.input.c-select
														option(value='-') -
														option(value='0') 2
														option(value='1') 3
												+e.select-col.col-sm-4
													+e.SELECT.input.c-select
														option(value='-') -
														option(value='0') 2
														option(value='1') 3
												+e.select-col.col-sm-4
													+e.SELECT.input.c-select
														option(value='-') -
														option(value='0') 2
														option(value='1') 3
									+e.col.col-12
										+input('','text',' ','tel')
											+e.SPAN.title Telefon 
												span ( Tag, Monat, Jahr )
									+e.col
										.s-page-form__add * Pflichtfeld
							.s-page-form__right-col.col-12.col-lg-6
								.row
									+e.col.col-12
										+input('','text','Firma','firma')
									+e.col.col-12
										+input('','text','Straße, Hausnummer*','')
									+e.col.col-sm-5
										+input('','text','PLZ*','')
									+e.col.col-sm-7
										+input('','text','Ort*','')
									+e.col.col-12
										label
											+e.SPAN.title Land*
											+e.SELECT.input.c-select
												option(value='-') -
												option(value='0') 2
												option(value='1') 3
									+e.col.col-12
										+polite-1
									+e.col.col-12
										+polite-2
							.col-12
								.row
									.col-lg-6.text-center.offset-lg-6
										+e.btn.btn.btn-primary(type="submit") anmelden

	// end s-page-form