.s-product {
	padding-top: rem(40);
	&__top-wrap{
		@include media-breakpoint-up(xl){
			// display: flex;
		}
		margin-bottom: rem(60);
	}

	&__img{
		&-wrapper{
			text-align: center;
			border: 4px solid $light;
			
			position: relative;
			height: 100%;
		}
		&-prod{
			// max-width: 100%;
			// height: auto;
		}
		&-btn-wrap{
			display: flex;
			position: absolute;
			bottom: rem(15);
			right: rem(35);
		}
		&-btn{
			cursor: pointer;
			width: rem(40);
			height: rem(40);
			background-color: $primary;
			display: flex;
			align-items: center;
			justify-content: center;
			&:not(:last-child){
				margin-right: rem(5);
			}
			.icon{
				font-size: rem(20);
			}
		}
	}
	&__main{
		&-wrap{
			width: 100%;
			@include media-breakpoint-up(xl){
				max-width: rem(275);
			}
		}
		&-sel{
			@extend .form-wrap__input;
			border: 2px solid $primary;
			margin-bottom: rem(2);
		}
		&-add-sel{
			color: $gray2;
			@extend .form-wrap__input;
		}
		&-prod{
			background-color: $light;
			margin-bottom: rem(3);
			padding: rem(15) rem(20);
		}
		&-title{
			text-transform: uppercase;
			margin-bottom: 0;
			font-weight: 600;
		}
		&-art{
			text-transform: uppercase;
			margin-bottom: rem(125);
		}
		&-links-wrap{
			margin-bottom: rem(3);
			background-color: $light;
			padding: rem(15) rem(20);
		}
		&-link{
			color: $body-color;
			&-img{
				margin-right: rem(12);
			}
			&:not(:last-child){
				margin-right: rem(30);
			}
		}
		&-price{
			text-transform: uppercase;
			font-size: rem(24);
			&-wrap{
				background-color: $light;
				padding: rem(15) rem(20);
			}
			&-add{
				margin-bottom: rem(20);
				&--sm{
					margin-top: rem(-10);
				}
			}
		}
		&-btn{
			width: 100%;
			cursor: pointer;
		}
	}
	.dropdown-menu{
		// position: absolute;
	}
	.dropdown-toggle{
		cursor: pointer;
		background-color: rgba($color: #5fa8dc, $alpha: .6);
		width: 20px;
		height: 20px;
	}
	.dropdown-menu{
		@include media-breakpoint-down(xs) {

			.btn-outline-primary{
				font-size: 14px;
				height: 100%;
				width: 100%;
			}
		}
		@include media-breakpoint-up(sm) {

			width: 341px;
		}
		width: 300px;
		border: 2px solid $primary;
		padding-bottom: 0;
		&__btn{
			// @extend .btn;
		}
		&__body{
			padding: rem(20);
		}
		&__foot{
			display: flex;
		}
		&__btn--more{
			flex-grow: 1;
		}
		&__row{
			@include roww(3);
		}
		&__price{
			color: #5fa8dc;
			@include rfs(rem(22));
			font-weight: bold;
			margin-bottom: rem(60);
		}
	}
	&__img-wrapper{
		position: relative;
	}
	.zoom-img-wrapper{
		overflow: auto;
		position: relative;
		max-height: 100%;
		height: rem(750px);
		width: 100%;

	}
	&__mark{
		.dropdown-toggle{
			&::after{
				display: none;
			}
		}
		position: absolute;
		&:nth-child(2){
			left: 12%;
    top: 20%;
		}
		
		&:nth-child(3){
			left: 22%;
			top: 16%;
		}
		&:nth-child(4){
			left: 32%;
			top: 25%;
		}
		&:nth-child(5){
			left: 42%;
			top: 45%;
		}
		
		&:nth-child(6){
			left: 65%;
    top: 54%;
		}


	}

	.zoom-block-js{
		cursor: grab;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}


.other-prod{
	margin-bottom: rem(25);
	$tw: ( (1 / 885) * 100%);
	&__table{
		width: 100%;
		@include media-breakpoint-down(sm){
			border-top: 1px solid #D7D7D7;
		}
		thead{
			@include media-breakpoint-down(sm){
				display: none;
			}
			border-bottom: 1px solid #D7D7D7;
		}
		th{
			padding: rem(10) 0;
			font-weight: normal;
			font-size: $h2-font-size;
			text-transform: uppercase;
			padding-left: rem(20);
			&:first-child{
				padding-left: rem(20);
			}
			&:last-child{
				padding-right: rem(20);
			}
			&:nth-child(3){
				// text-align: center;
			}
			&:nth-child(4){
				padding-left: rem(20);
			}
			&:nth-child(2){
				@include media-breakpoint-down(lg){
					display: none;
				}
				// text-align: right;
			}
		}
		tbody{
			tr{
				@include mt;
				&:not(:last-child){
					border-bottom: 1px solid #D7D7D7;
				}
				&:hover{
					background-color: $light;
				}
				@include media-breakpoint-down(sm){
					display: block;
					flex-wrap: wrap;
				}
			}
			td{
				@include media-breakpoint-down(lg){
					padding-top: rem(10);
					padding-bottom: rem(10);
				}
				@include media-breakpoint-down(sm){
					display: block;
				}
				@include media-breakpoint-up(xl){
					padding: rem(15);	
				}
				&:nth-child(4){
					@include media-breakpoint-up(xl){
						width: (390 * $tw);
					}
					@include media-breakpoint-down(md){
						
					}
				}
				&:first-child{
					@include media-breakpoint-up(xl){
						padding-left: rem(20);
					}
				}
				&:nth-child(2){
					@include media-breakpoint-down(lg){
						display: none;
					}
				}
				&:nth-child(3){

				}
				&:last-child{
					@include media-breakpoint-down(md){
						display: block;
					}
					@include media-breakpoint-up(xl){
						padding-right: rem(20);
					}
				}
			}
		}
	}
	&__title{
		font-weight: 700;
		text-transform: uppercase;
		font-size: $h2-font-size;
	}
	&__subtitle{
		margin-top: rem(-5);
	}
	&__art{
		font-size: $h2-font-size;
	}
	&__price{
		font-size: $h2-font-size;
		font-weight: 400;
		text-transform: uppercase;
	}
	&__sel{
		margin-right: rem(5);
		display: inline-block;
		@extend .form-wrap__input;
		color: $gray2;
		flex-grow: 1;
		@include media-breakpoint-up(xl){
			margin-right: rem(20);
		}
		&-wrap{
			align-items: center;
		}
	}
	&__btn{
		@include media-breakpoint-down(sm){
			padding-top: rem(8);
			padding-bottom: rem(8);
			min-width: rem(170);
		}
		cursor: pointer;
		min-width: rem(235);
		font-size: $em-base !important;
		@include media-breakpoint-up(md){
			font-size: $h2-font-size !important;
		}
	}
}

.bot-btn{
	&__btn{
		width: 100%;
		max-width: rem(188);
		&:not(:last-child){
			margin-right: rem(5);
		}
	}
	.gray{
		background-color: $light;
		color: #b9b9b9;
	}
}