mixin form-head()
	form.js-form-validate( data-parsley-validate="") 
		input(type='hidden', class="order", name='order', value=`Заявка  с сайта` ) 
		block

mixin input(placeholder,  t='text', label, name= t)
	mixin t(t='text',placeholder, name= t)
		if t== "textarea"
			block
			+e.TEXTAREA.input(placeholder= placeholder name= name)&attributes(attributes)
		else
			block
			+e.INPUT.input(type= t placeholder= placeholder name= name)&attributes(attributes)
	+e.input-wrap
		if label
			label
				block
				+e.SPAN.title= label
				+t(t,placeholder, name)&attributes(attributes)
		else
			block
			+t(t,placeholder, name)&attributes(attributes)
	// +e.input-wrap

mixin select(label,pl,...items)
	+e.input-wrap
		label
			+e.SPAN.title= label
			+e.SELECT.input

					option()= pl
					each item in items
						option()= item
//- wrapper for form
mixin form-wrap()
	+b.form-wrap&attributes(attributes)
		form
			block
//- /wrapper for form


mixin in-c(typ="checkbox", text, name= typ )
	+b.LABEL.custom-input
		+e.INPUT.input(type= typ , name= name)&attributes(attributes)
		+e.SPAN.lab
		if block
			block 
		else
			+e.SPAN.text= text
 
mixin add-file(n)
	+b.add-file
		label
			+e.INPUT.input(name='file', type='file')
			+e.SPAN.btn 
			+e.SPAN.text   Прикрепить резюме
		+e.SPAN.filename 


mixin polite()
	+e.polite
		+in-c()(checked)
			+e.SMALL.text.text-secondary Согласен на обработку и хранение моих персональных данных в соответствии с условиями


mixin polite-1()
	+e.polite
		+in-c()()
			+e.text Ja, ich bin mit den 
			a(href='#') AGB 
			|und der 
			a(href='#') Datenschutzerklärung 
			|von Bergzeit einverstanden und habe mich über das Widerrufsrecht informiert. * 

mixin polite-2()
	+e.polite
		+in-c()()
			+e.text * Mit Setzen des Häkchens im nebenstehenden Kontrollkästchen erklärst Du dich einverstanden, dass die von Dir angegebenen Daten elektronisch erhoben und gespeichert werden. Deine Daten werden dabei nur streng zweckgebunden zur Bearbeitung und Beantwortung Deiner Anfrage genutzt. Diese Einwilligung kannst Du jederzeit durch Nachricht an uns widerrufen. Im Falle des Widerrufs werden Deine Daten umgehend gelöscht. Weitere Informationen bitte der Datenschutzerklärung entnehmen. * 


mixin polite-order()
	+e.polite
		+in-c()()
			+e.text Abweichende Lieferadresse


mixin polite-final()
	.form-wrap__polite
		+in-c()()
			+e.text Ich habe die 
				a(href='#') AGB 
				| gelesen und erkläre mit dem Absenden der Bestellung mein Einverständnis.
	.form-wrap__polite
		+in-c()()
			+e.text Ich habe die 
				a(href='#') Datenschutzbestimmungen 
				| der Grundfos-Pumpen GmbH zur Kenntnis genommen.
	.form-wrap__polite
		+in-c()()
			+e.text Ich bin damit einverstanden, dass meine E-Mailadresse und Telefonnummer ausschließlich zur Zustellbenachrichtigung an unsere Logistikpartner weitergeleitet werden.