.s-news-line {
	border-bottom: 1px solid #c6c6c6;


	&__title{
		padding-left: rem(22);
		text-transform: uppercase;
		font-weight: 700;
		font-size: $h2-font-size;
		margin-bottom: rem(15);
	}

	&__row{
		@include roww(20);
	}

	&__img-wrap{
		// @include media-breakpoint-down(sm){
		// 	max-width: rem(400);
		// 	margin: 0 auto;
		// }
		@include block(367,340);
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		margin-bottom: rem(30);
	}

	&__text-wrap{
		@include media-breakpoint-up(md){
			max-width: rem(320);
			margin: 0 auto;
		}
	}

	&__item{
		@include media-breakpoint-down(sm){
			margin-bottom: rem(40);
		}
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__item-title{
		text-transform: uppercase;
		font-weight: 700;
		font-size: $h2-font-size;
	}

	&__item-text{
		margin-top: auto;
		line-height: 1.33;
		font-size: $h2-font-size;
	}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}