mixin s-catalog-line()
	// start s-catalog-line
	+b.s-catalog-line
		.container
			+e.btn(type="button")
				img.res-i(src="img/@2x/type-1.png", alt="")
			+e.btn(type="button")
				img.res-i(src="img/@2x/type-2.png", alt="")
	// end s-catalog-line