mixin header-block()
	// start header-block
	+b.header-block#header-block
		+pic("header-baner", 'bg', 'lazy')(class="picture-bg header-bg")
		.container
			.row
				+e.col.col-xxl-8.col-lg-6
					+e.content
						+pic('pumpe')(class="prod")
						h1  PUMPEN & ERSATZTEIle
						+e.sub-title schneller und einfacher Service für Unternehmen
						+e.call
							+e.telephone wir sind telefonisch von 08.00 - 17.00 Uhr zu erreichen
								a(href="#tel:+497471-9331970") Tel. +49 7471-933197-0
								//- +pic("call-bg.png", 'bg')(class="picture-bg")
							+e.call-type
								img(src="img/@2x/message.png" alt="")
								img(src="img/@2x/tel-time.png" alt="")
								img(src="img/@2x/mail.png" alt="")
						+e.btn(href="#") MEHR ERFAHREN
				+e.col-right.col-xxl-4.col-lg-6
					+form-wrap
						+e.title-head 
							span schnelle Ersatzteilsuche
						+input('P/N','text','PRoduktnummer ')
						+e.devider 
							span order
						+select("PUMPENBAUART",'Produktbezeichnung','Produktbezeichnung')
						+select("familie",'Produktbezeichnung','Produktbezeichnung')
						+select("Unterfamile",'Produktbezeichnung','Produktbezeichnung')
						+select("TYP",'Produktbezeichnung','Produktbezeichnung') 
						+e.btn.btn.btn-outline-white(type="submit") MEINE PUMPE FINDEN
	// end header-block