.aside-filter {
	padding-top: rem(40);
	&__inner{

	
	}
	&__group{
		padding: rem(18) rem(20);
		border-bottom: 1px solid $light;
		&.active{
			background-color: $light;
		}
		&:not(:first-child){
			border: 2px solid #fff;
			border-bottom: 1px solid $light;
			&.active{
				margin-top: rem(-2);
				background-color: #fff;
				border: 2px solid #b6b6b6;
			}
		}
		&-title{
			@extend .h2;
			font-weight: bold;
			text-transform: uppercase;
			cursor: pointer;
			padding-right: rem(20);
			position: relative;
			&::before{
				content: url(../img/svg/Zu.svg);
				right: 0;
				top: rem(0);
				position: absolute;
				transform: rotateX(180deg);
			}
			&.active{
				&::before{
					
					top: rem(-4);
					transform: rotateX(0);
				}
		}
		}
		
		&-block{
			padding-top: rem(20);
		}
	}
	&__group-sm{
		.aside-filter__group-sm  {
			border: none;
		}
		border-bottom: 1px solid #333333;
	}
	&__group-sm-title{
		padding-bottom: rem(5);
		padding-top: rem(5);
		padding-right: rem(20);
		cursor: pointer;
		position: relative;
		&::before{
			content: url(../img/@2x/Plus.png);
			right: 0;
			top: rem(8);
			position: absolute; 
		}
		&:hover{

			background-color: $gray;
		}
		&.active{
			&::before{
				
				top: rem(1);
				content: url(../img/@2x/Minus.png);
				// top: rem(-4);
			}
	}
	}
	&__group-sm-block{
		padding-top: rem(8);
	}

	.custom-input{
		display: block;  
		margin-bottom: rem(20); 
		&__lab{ 
		 right: 0;
			top: rem(-5); 
			width: rem(26);
			height: rem(26);
			border: 1px solid #050605;
			background-color: #fff; 
			left: auto;
			position: absolute;
			margin-right: 0;
			&::after{
				display: none;
			}
			&::before{
				content: ' ';
				width: calc(100% - 2px);
				height: calc(100% - 2px);
				@include a-cent;
				opacity: 0;
				background-color: $primary;

			}
		}
	 
		&__input[type="checkbox"] + &__lab{
		 
		}
		
	}
	
	
		.custom-input__input:checked + .custom-input__lab{
			background-color: #fff;
			&::before{ 
				// background-color: $primary;
				opacity: 1;
				//  opacity: 0;
			 }
		 }
	
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}
.custom-input-text{
	display: block;
	color: #808080;
	cursor: pointer;
	margin-left: rem(40);
	input{
		@extend .invisible;
	}
	input:checked + &__lab{
		color: $body-color;
	}
}

.accordion{
	&__title{
		cursor: pointer;
	}
	&__block{
		
		display: none;
	}
}