mixin aside-filter()
	// start aside-filter
	+b.SECTION.aside-filter.section#aside-filter&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 aside-filter
				
			.row
	// end aside-filter