mixin bottom-line()
	// start bottom-line
	+b.SECTION.bottom-line.section#bottom-line&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 bottom-line
				
			.row
	// end bottom-line