.s-gall {
	padding: rem(30) 0;
	@include media-breakpoint-up(lg){
		padding: rem(40) 0;
	}
	border-bottom: 1px solid #c6c6c6;
	&__title{
		@include media-breakpoint-up(lg){
			padding-left: rem(20);
		}
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: rem(20);
	}
	&__gal-block{
		overflow: hidden;
		width: 100%;
		position: relative;
	}
	&__main-slider{
		.slick-dots{
			margin-bottom: 0;
			@include a-cent(x);
			bottom: 0;
			li{
				background-color: #fff;
				cursor: pointer;
			}
			.slick-active{
				background-color: #00ade5;
			}
		}
		.slide{
			text-align: center;
		}
	}
	&__slider-wrap{
		@include a-cent(y);
		left: rem(20);
	}
	&__side-slider{
		max-width: rem(73);
		.slick-current{
			border: 1px solid $primary;
		}
		.slick-slide{
			cursor: pointer;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}