mixin s-gall()
	// start s-gall
	+b.s-gall.section#s-gall&attributes(attributes)
		.container
			+e.H2.title TECHNISCHE Zeichnungen
			+e.gal-block
				+e.main-slider--js
					.slide
						+e.IMG.main-sl-img.res-i(src='img/@2x/s-gal.jpg' alt='')
					.slide
						+e.IMG.main-sl-img.res-i(src='img/@2x/s-gal.jpg' alt='')
					.slide
						+e.IMG.main-sl-img.res-i(src='img/@2x/s-gal.jpg' alt='')
					.slide
						+e.IMG.main-sl-img.res-i(src='img/@2x/s-gal.jpg' alt='')
					.slide
						+e.IMG.main-sl-img.res-i(src='img/@2x/s-gal.jpg' alt='')
					.slide
						+e.IMG.main-sl-img.res-i(src='img/@2x/s-gal.jpg' alt='')
				+e.slider-wrap.d-none.d-lg-block
					+e.side-slider--js
						.slide
							+e.IMG.side-sl-img.res-i(src='img/@2x/prod-side-sl.jpg' alt='')
						.slide
							+e.IMG.side-sl-img.res-i(src='img/@2x/prod-side-sl.jpg' alt='')
						.slide
							+e.IMG.side-sl-img.res-i(src='img/@2x/prod-side-sl.jpg' alt='')
						.slide
							+e.IMG.side-sl-img.res-i(src='img/@2x/prod-side-sl.jpg' alt='')
						.slide
							+e.IMG.side-sl-img.res-i(src='img/@2x/prod-side-sl.jpg' alt='')
						.slide
							+e.IMG.side-sl-img.res-i(src='img/@2x/prod-side-sl.jpg' alt='')
	// end s-gall