.s-shiping-time {
	padding-top: rem(40);
	&__header-baner {
		position: relative;
		margin-bottom: rem(55);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(111);
		}
	}
	&__content {
		max-width: rem(950);
		margin: 0 auto;
	}
	h2 {
		@extend .h1;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: rem(24);
		
	}
	.upper {
		margin-bottom: rem(15);
		@include media-breakpoint-up(lg){
		margin-bottom: rem(7);
		}
	}
	p {
		@extend .h2;
		font-weight: 400;
		line-height: 1.34;
		margin-bottom: rem(50);
	}
	h3 {
		font-size: rem(22);
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(33);
		}
		text-transform: uppercase;
		font-weight: 400;
	}
	.time {
		margin: rem(109) auto rem(94);
		display: block;
	}
	table {
		width: 100%;
		margin-bottom: rem(55);
		text-transform: uppercase;
		.bg {
			background-color: $light;
			
			font-weight: 700;
			margin-bottom: rem(10);
		}
	}
	td{
		padding-top: rem(15);
		padding-bottom: rem(15);
		line-height: 1;
		&:nth-child(1){
			padding-left: rem(10);
			@include media-breakpoint-up(lg){
				width: 38.5%;
				padding-left: rem(20);
				font-weight: 700;
			}
		}
		&:nth-child(2) {
			@include media-breakpoint-up(lg){
				width: 25%;
			}
		}
		&:nth-last-child(1){
			text-align: right;
			padding-right: rem(10);
			@include media-breakpoint-up(lg){
				padding-right: rem(20);
			}
		}
	}
	.bottom-table {
		td{
			&:nth-child(1) {
				width: 60%;
			}
			&:nth-last-child(1) {
				background-color: $primary;
				width: rem(40);
				position: relative;
				cursor: pointer;
				&::after {
					content: '';
					width: rem(24);
					height: 2px;
					background-color: $light;
					@include a-cent;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}